.header{
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}
.nav{
  height:300px;
  width:20%;
  background-color:#eeeeee;
  float:left;
  margin:0;
}
.section{
  float:left;
  width:70%;
}

.footer{
  clear:both;
  background-color:black;
  color:white;
  text-align:left;
  padding:5px;
}

div img{
  width:64%
}
