.header{
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}

.header a {
    color: white;
    display:inline;
}
.header a:hover {
    color: red;
}

.nav{
  height:860.813px;
  width:20%;
  background-color:#eeeeee;
  float:left;
  margin:0;
}
.section{
  float:left;
  width:70%;
  margin:20px 0px 0px 20px;
}

.footer{
  clear:both;
  background-color:black;
  color:white;
  text-align:left;
  padding:5px;
}
